* {
    box-sizing: border-box;
}

body {
    background: #344a72;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header{
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

.header h1, .header p{
    margin: 0;
}

.form{
    margin-top: 15px;
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #ddd;
    border-radius: 8px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 35px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


.form button{
    border: 2px solid;
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}


.form button:hover{
    background: #37a08e;
}

.form .bottom-text{
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.form .bottom-text a{
    color:  #07ccb2;
}

.container footer{
    text-align: center;
}

.container footer a{
    color: #07ccb2;
}